{% extends 'Guest/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>Complaint Reply</center></h1>
        
        <table border="1"align="center">
            <tr>
                <td>#</td>
                <td>Complaint Title</td>
                <td>Complaint Content</td>
                <td>Complaint Reply</td>
            </tr>
            {% for i in reply %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.reply.complaint_title}}</td>
                <td>{{i.reply.complaint_content}}</td>
                <td>{{i.reply.complaint_reply}}</td>

            </tr>
            {% endfor %}
            </table>
</body>
</html>
<br><br><br>
{% endblock content %}