{% extends 'Guest/Header.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>View College polling</center></h1>
        
        <table border="1"align="center">
            <tr>
                <td>#</td>
                <td>date time</td>
                <td>Candidate</td>
                <td>User</td>
            </tr>
            {% for i in polling %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.polling.date_time}}</td>
                <td>{{i.polling.Candidate}}</td>
                <td>{{i.polling.User}}</td>

            </tr>
            {% endfor %}
            </table>
</body>
</html>
<br><br><br>
{% endblock content %}